html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide.one{
   background: url("../img/bg1.gif");
    background-size: 100% 100%;
}
.swiper-slide.one .top{
    width: 100%;
    position: absolute;
    bottom:0;
    left: -30%;
}
.swiper-slide.two{
    background: url("../img/bg2.jpg");
    background-size: 100% 100%;
}
.swiper-slide.two .text{
    width: 80%;
    height: 70%;
}
.swiper-slide.two .text .top{
    font-size: 6vw;
    float: left;
}
.swiper-slide.two .text .center{
    clear: both;
    font-size: 15px;
    text-align: left;
    text-indent: 2em;
}
.swiper-slide.two .text .ot{
    position: relative;
}
.swiper-slide.two .text .om{
    float: right;
    margin-bottom: -1rem;
}
.swiper-slide.two .text .bottom{
    float: right;;
}
#music{
    width: 60px;
    height: 60px;
    position: fixed;
    right: 3%;
    top: 2%;
    z-index: 9;
}

#music .imgcbg{
    width: 60px;
    height: 60px;
}
#music .imgImg{
    position: absolute;
    right: 8px;
    top: 8px;
    animation: music 1s infinite linear;
}
@keyframes music{
    0%{
        transform: rotate(0deg);
    }
    100%{transform: rotate(360deg)}
}